// Here write vars for your .scss files

// colors
$color-main: #574380;
$color-main-darken: #422480;
$color-main-lighten: #543f80;
$color-bg: #1b1b1b;
$color-text: #bbb;

// fonts
$font-main: 'Arial', sans-serif;
$font-title: 'Roboto', sans-serif;